/* configuração todas sections */
#caixaDeSecao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;

}

/* configuração todas sections */

#secaoPadrao {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 2rem;

}


#secaoPadrao h1, #secaoPadrao p {
    color: #d4d4d4;
    text-align: center;
}